html {
  box-sizing: border-box;
  font-family: "Crimson Text", sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  color: #555;
  line-height: 1.3;
  font-weight: normal;
  padding-top: 2px;
}

h1 + p {
  font-style: italic;
  line-height: 1.3;
  font-size: 1.125rem;
  padding-top: 0;
}

body {
  margin: 1em;
  color: #555;
}

article ol {
  padding-left: 1rem;
}

blockquote {
  color: #555;
}
